body {
    background-color: #121212;
    color: #f1c40f;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f1c40f;
    color: #121212;
    padding: 1rem;
    text-align: center;
}

header img {
    height: 50px; /* Altura da imagem ajustada para 50px */
    vertical-align: middle;
}

h1, h2 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #1e1e1e;
    padding: 1rem 0;
}

nav a {
    color: #f1c40f;
    text-decoration: none;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #f1c40f;
    color: #121212;
}

main {
    padding: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 1rem;
    border: 1px solid #f1c40f;
    text-align: left;
}

th {
    background-color: #1e1e1e;
}

button {
    background-color: #f1c40f;
    color: #121212;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #ffdc00;
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #1e1e1e;
}
