*{
    background-color: floralwhite;
}
h1{
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    display: flex;
    background-color: goldenrod;
    font-size: large;
    border: solid 1px black;
    width: 200px;
    color: black;
}
th{
    padding: 10px;
}
img{
    height: 100px;
}
nav{
    display: flex;
    justify-content: center;
    padding: 10px;
}