<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../Easy_Bus/assets/css/editar_(joao).css">
    <title>Sistema de Gestão de Departamentos</title>
</head>
<body>
    <header>
        <h1>Editar Motorista</h1>
    </header>
    <nav><a href="mostrar_motoristas.html">Home</a>
    </nav>
    <main>
        <section id="cadastro-departamento">
            <form>
                <div>
                    <label for="id-dpto">ID</label>
                    <input type="text" name="id-dpto" id="id-dpto" disabled>
                </div>
                <div>
                    <label for="nome-dpto">Nome</label>
                    <input type="text" name="nome-dpto" id="nome-dpto" required>
                </div>
                <div>
                    <label for="descricao-dpto">Descrição(CPF,Carro com placa,Horário)</label><br >
                    <textarea id="descricao-dpto" name="descricao-dpto" rows="4" required></textarea>
                </div>
                <button type="button" onclick="atualizar()">Atualizar</button>
            </form>
        </section>
    </main>
    <footer>
        <a href="mostrar_motoristas.html">Voltar</a>
    </footer>
    <script src="../assets/js/editar_motoristas.js"></script>
</body>
</html>