<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/motorista.css">
    <script>
        var barsVisualization;
      
        function drawMouseoverVisualization() {
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Year');
          data.addColumn('number', 'Score');
          data.addRows([
            ['2005',3.6],
            ['2006',4.1],
            ['2007',3.8],
            ['2008',3.9],
            ['2009',4.6]
          ]);
      
          barsVisualization = new google.visualization.ColumnChart(document.getElementById('mouseoverdiv'));
          barsVisualization.draw(data, null);
          google.visualization.events.addListener(barsVisualization, 'onmouseover', barMouseOver);
          google.visualization.events.addListener(barsVisualization, 'onmouseout', barMouseOut);
        }
      
        function barMouseOver(e) {
          barsVisualization.setSelection([e]);
        }
      
        function barMouseOut(e) {
          barsVisualization.setSelection([{'row': null, 'column': null}]);
        }
      
      </script>
    <title>Relatorio</title>
</head>
<body>
    <header>
        <div class="titulo">
            <h1>Relatorio EasyBus</h1>
        </div>
        <div class=navegaçao>
            <h1>
                <a href="../../../../Easy_Bus/views/index_(joao).html"> Novo Relatorio</a>
            </h1>
            <h1>Voltar</h1>
        </div>
    </header>
     <main>
        <section id="departamentos">
            <header>
                <h2>Motoristas</h2>
            </header>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Descrição(CPF,Carro com placa,Horário)</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </section>
    </main>
    <script src="../assets/js/mostrar_motoristas.js"></script>
    <div id="chart_div"></div>
        
</html>