* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    display:flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    min-width: 280px;
    font-family: 'Roboto', sans-serif;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    padding: 20px;
}

 h1, p {
    text-align: center;
    margin: 10px;
}

img {
    width: 150px;
    height: 80px;
    margin: auto;

}